body {
    height: 100%;
    background-image: url(/images/pc_background.jpg);
}
h1 {
    color: white;
    text-align: center;

}

h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    opacity: 1;
}
.center {
    margin: auto;
    width: 50%;
    height: 50%;
    text-align: center;
    vertical-align: middle;
    color: white;
    border: 10 px white;
}


.nav{
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background-color: #333;
}
.nav li{
    display:inline;
    border-right: 1px solid white;
    width: 25%;
    text-align: center;
}
.nav a{
    display:inline-block;
    padding:10px;
    color: white;
}

li:hover {
    background-color: #111;
  }
.active {
    background-color: #04AA6D;
}

li:last-child {
    border-right: none;
}

.portrait {
    display: flex;
    width: 50%;
    height: 100%;
    margin: 200px auto auto auto;
    align-items:center;
    justify-content:center;
    background-color: #333;
    border-radius: 50px;
}

.portrait img {
    display: flex;
    align-items:center;
    border-radius: 100px;
    justify-content:center;
}

.vert_center {
    display: flex;
    width: 50%;
    height: 500px;
    margin: -150px auto auto auto;
    align-items:center;
    justify-content:center;
    background-color: #333;
    border-radius: 50px;
}

.vert_center_2 {
    display: flex;
    width: 50%;
    height: 100px;
    margin: -200px auto auto auto;
    align-items:center;
    justify-content:center;
    
}

.container {
    background-color: #333;
    display: flex;
    flex-grow: 1;
    min-height: 90vh;
    width: 50%;
    margin: 0px auto 0px auto;
    justify-content: center;
    border-radius: 50px;
}

.item {
    font-size: 2rem;
    line-height: 1;
    text-align: center;
    width: 100%;
    margin: auto auto auto auto;
    background-color: #333;
    color: #51aaa3;
    
}

.contact {
    background-color: #333;
    width: 50%;
    align-self: center;
    margin: auto;
    height: 90vh;
    border-radius: 50px;
}

.form-style {
    margin:10px auto;
    width: 500px;
    padding: 20px 12px 10px 20px;
    font: 18px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
}
.form-style td {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style .required{
    color:red;
}
.form-style input[type=submit], .form-style input[type=reset]{
    background: #4eb5f1;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style input[type=submit]:hover, .form-style input[type=reset]:hover{
    background: #4eb5f1;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style .field-textarea{
    height: 100px;
}
.form-style input[type=text], 
.form-style input[type=email],
textarea{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}
.form-style .long{
    width: 100%;
}
.form-style input[type=text]:focus, 
.form-style input[type=email]:focus,
.form-style textarea:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.error{
    color: #D8000C;
    background-color: #FFBABA;
}